$mainColor: rgb(222, 226, 233);
$elemColor: #ffffff;
$buttonColor: #ffffff;
$inputColor: #3d91ff;
$selectorColor: #3d91ff;
$wordColor: rgb(75, 78, 80);

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}
.container {
  background-color: $mainColor;
  width: 100%;
  height: 100%;
  max-width: 1000px;

  color: $wordColor;
}

.competition {
  width: 100%;
  :focus {
    outline: none;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    :nth-child(2) {
      margin: 0 20px;
    }
  }
}

.button {
  width: 200px;
  height: 50px;
  margin: 10px;
  align-self: center;
  border-radius: 10px;
  border: 1px solid #32a1ce;
  background-color: $buttonColor;
  cursor: pointer;
  font-weight: bold;
  color: $wordColor;
  align-items: center;

  &-mini {
    width: 150px;
    height: 50px;
    margin: 10px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid #32a1ce;
    background-color: $buttonColor;
    cursor: pointer;
    font-weight: bold;
    color: $wordColor;
    p {
      font-size: 15px;
    }

    &:hover {
      color: #ffffff;
      background-color: #3d91ff;
    }

    &.set {
      color: #ffffff;
      background-color: #3d91ff;
    }
  }

  p {
    font-size: 20px;
  }

  &:hover {
    color: #ffffff;
    background-color: #3d91ff;
  }
  &:focus {
    outline: none;
  }
}

.moduls {
  position: relative;
  padding: 10px;

  &__next {
    width: 155px;
    margin: 10px 0;
    padding: 6px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 5px;
  }
  @media (max-width: 410px) {
    &__next {
      width: 125px;
      font-size: 20px;
    }
  }
}

.modul-competition {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 0 0;

    h1 {
      flex: 0 1 15%;
    }

    input {
      background-color: $inputColor;
      border: 0;

      padding: 6px;
      font-size: 25px;
      color: #ffffff;

      border-radius: 5px;
      margin-left: 10px;
      width: 50%;
      &:focus {
        outline: none;
      }
    }
  }

  &__score {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    input {
      color: black;
      font-size: 30px;
      border: 0;
      padding: 8px 0;
      text-align: center;
      width: 100px;
      border-radius: 5px;
    }

    span {
      padding: 0 10px;
      font-size: 45px;
    }
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    padding: 15px 0 20px 0;
    align-items: center;
    p {
      font-size: 32px;
      flex: 0 1 37%;
    }
  }

  &.photo {
    margin: 15px 0;
  }
  h1 {
    padding: 10px 0;
    font-size: 32px;
    align-self: center;
  }

  @media (max-width: 530px) {
    &__title {
      flex-direction: column;
      input {
        width: 80%;
      }
    }
    &__quantity {
      flex-direction: column;
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.photo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  position: relative;
  p {
    margin-left: 5px;
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }

  h1 {
    font-size: 32px;
    flex: 0 1 15%;
  }

  &.set_photo {
    .photo__input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 200px;
        max-height: 200px;
      }
      label {
        position: absolute;
        width: 40px;
        padding: 5px;
        height: 40px;
        left: 101%;
      }
      @media (max-width: 500px) {
        label {
          top: 67%;
        }
      }
    }
  }
  &.prize_photo {
    .photo__input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 200px;
        max-height: 200px;
      }
      .photo__label {
        position: absolute;
        width: 40px;
        padding: 5px;
        height: 40px;
        top: 49%;
        left: 101%;
      }
      @media (max-width: 500px) {
        .photo__label {
          top: 67%;
        }
      }
    }
  }

  &__input {
    label {
      width: 200px;
      height: 200px;
      border: 2px dashed grey;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      transition: border 300ms ease;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        border: 2px solid #000;
      }

      i {
        padding: 5px;
        display: block;
        font-size: 34px;
        align-self: center;
      }

      input[type='file'] {
        display: none;
      }
    }
    p {
      margin-left: 10px;
    }
  }
  @media (max-width: 480px) {
    justify-content: center;
    h1 {
      display: none;
    }
  }
}

.contrib {
  background-color: $elemColor;
  border: 2px solid #32a1ce;
  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 5px;

  &__title {
    margin-top: 10px;
    font-size: 37px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
    p {
      font-size: 32px;
      margin-right: 10px;
    }
    select {
      padding: 10px;
      font-size: 25px;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }
  }
  &__link {
    color: #ffff;
    width: 81%;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    background-color: $inputColor;
    border-radius: 5px;

    p {
      font-size: 32px;
    }
    input {
      color: black;
      font-size: 25px;
      border: 0;
      padding: 12px 0;
      margin-left: 10px;
      width: 78%;
      border-radius: 5px;
    }
  }
  &__delete {
    position: absolute;
    top: 3px;
    padding: 5px;
    right: 5px;
    cursor: pointer;
    i {
      color: red;
      font-size: 32px;
    }
  }
  @media (max-width: 530px) {
    &__content {
      align-self: center;
      flex-direction: column;
      :nth-child(1) {
        margin-bottom: 5px;
      }
    }
  }
  @media (max-width: 480px) {
    &__link {
      p {
        margin-bottom: 5px;
      }
      flex-direction: column;
      input {
        margin: 0;
        width: 90%;
      }
    }
  }
}
.block {
  &__type {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $selectorColor;
    border-radius: 5px;
    padding: 5px;
    color: #ffff;
  }

  &__social {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $selectorColor;
    color: #ffff;
    border-radius: 5px;
    padding: 5px;
  }

  @media (max-width: 530px) {
    &__type {
      p {
        flex: 0 1 35%;
        text-align: center;
      }
    }
  }
}

.rdrDateRangeWrapper {
  align-self: center;
  width: 90%;
}
.rdrMonthsVertical {
  align-items: center;
}
.rdrMonthAndYearWrapper {
  border-bottom: 1px solid black;
}
.rdrMonth {
  width: 72% !important;
}

@import 'reset.scss';
@import 'prize.scss';
