.modul-prize {
  position: absolute;
  margin: 0 auto;
  right: 0;
  top: 0;
  left: 0;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
  align-self: center;
  font-size: 20px;
}
i {
  &.fa-exclamation-triangle {
    margin-left: 5px;
  }
}
.active {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
input::placeholder {
  color: #fff;
}

.prize {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $elemColor;
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(188, 174, 221);
  width: 90%;

  &__lock {
    position: absolute;
    width: 99%;
    height: 100%;
    background-color: rgba(236, 236, 231, 0.2);
    border-radius: 10px;
    transition: width 1s cubic-bezier(0, 0, 1, 1) 300ms;
    &.edit {
      width: 0;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0 10px 0;

    input {
      background-color: $inputColor;
      border: 0;
      padding: 6px;
      font-size: 20px;
      color: #ffffff;
      border-radius: 5px;
      margin-left: 10px;
      width: 50%;
      &:focus {
        outline: none;
      }
    }
  }

  &__edit {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 2;
    width: 108px;
    height: 20px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #32a1ce;
    background-color: $buttonColor;
    cursor: pointer;
    font-weight: bold;
    color: $wordColor;
    &:hover {
      color: #ffffff;
      background-color: #3d91ff;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    align-items: center;

    &.read {
      input {
        pointer-events: none;
        background-color: $elemColor;
        color: black;
        border: 1px solid black;
        &::placeholder {
          color: black;
        }
      }
      .characteristic {
        border: 0;
      }
    }
  }
  &__delete {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: 101%;
    top: 0;
    font-size: 20px;
  }

  @media (max-width: 500px) {
    &__title {
      align-self: center;
      flex-direction: column;
      input {
        width: 90%;
      }
      :nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 410px) {
    flex-direction: column;
    &__photo {
      justify-content: center;
    }
    &__title {
      align-self: center;
      flex-direction: column;
      input {
        width: 90%;
      }
      :nth-child(1) {
        margin-bottom: 10px;
      }
    }
    &__edit {
      width: 68px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.characteristic {
  position: relative;
  align-self: flex-end;
  width: 70%;
  padding: 5px;
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 0 5px 0;

  border: 2px solid #32a1ce;
  border-radius: 5px;

  &__delete {
    cursor: pointer;

    text-align: center;

    font-size: 20px;
  }
  &__type {
    flex: 0 1 30%;

    input {
      width: 45%;
      background-color: $inputColor;
      border: 0;
      padding: 4px;
      font-size: 14px;
      color: #fff;
      border-radius: 5px;
    }
  }
  &__name {
    flex: 0 1 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    input {
      width: 80%;
      background-color: $inputColor;
      border: 0;
      padding: 4px;
      font-size: 14px;
      color: #fff;
      border-radius: 5px;
    }
  }
  @media (max-width: 410px) {
    align-self: center;
  }
}

.characteristic-module {
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;

  .button-mini {
    align-self: flex-end;
  }
}
